$color-body-text: #222;

$color-button: #0a0a0a;
$color-button-text: #e6e6e6;

$color-panels: rgb(238, 238, 238);

// Soical Icons
$basic-dark-color: #212121;
$basic-light-color: #fff;
$fb-color: #3b5998;
$tw-color: #00aced;
$g-plus: #dd4b39;
$dribbble: #ea4c89;
$pinterest: #cb2027;
$insta: #bc2a8d;
$in: #007bb6;
$vimeo: #1ab7ea;
$border-radius: 10px;
$font-size: 25px;
