.footer {
  background-color: $basic-dark-color;
  color: $basic-light-color;
  padding: 5rem 40rem 5rem 40rem ;

  &__navigation {
    border-top: 2px solid #777;
    padding-top: 2rem;
    display: inline-block;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $basic-light-color;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
    }

    &:hover,
    &:active {
      border-bottom: 2px solid $basic-light-color;
      padding-bottom: 1rem;
    }
  }
}
