.header {
  color: $basic-dark-color;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__navigation {
    // border-bottom: 2px solid #777;
    padding-top: 1rem;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__link {
    content: '';
    text-decoration: none;
    text-transform: uppercase;
    transition: width 0.3s;

    &:hover,
    &:active {
      border-bottom: 2px solid $color-body-text;
      padding-bottom: 1rem;
    }
  }
}
