.container-nav {
  // display: flex;
  // justify-content: flex-end;
  // align-items: center;
  padding: 6rem;
}

.header {
  color: $basic-dark-color;

  &__navigation {
    //  border-bottom: 2px solid #777;
    // padding-top: 1rem;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    // align-items: center;
    // justify-items: stretch;
    margin: 5px;
  }

  &__link {
    content: '';
    text-decoration: none;
    text-transform: uppercase;
    transition: width 0.3s;
    padding: 5px;
    margin: 5px;

    &:hover,
    &:active {
      border-bottom: 2px solid $color-body-text;
      padding-bottom: 1rem;
    }
  }
}
