.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
  }

  &-primary {
    background-color: #0a0a0a;
    color: #e6e6e6;
    border: 2px solid white;
    border-radius: 5px;
    background: linear-gradient(180deg, #000, #313131);
  }
}
