.container-card {
  display: flex;
  justify-content: space-evenly;
}


.card {
  height: 50rem;
  position: relative;
  width: 40rem;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(black, 0.15);
  align-content: center;
  align-items: stretch;
 
  // &__front {
  //   background-color: white;
  //   border-radius: 3px;
  //   box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  // }

  &__picture {
    background-size: cover;
    

    height: 15rem;
    width: 15rem;

    &--1 {
      background-image: url('../../img/icons8-javascript.svg');
    }
    &--2 {
      background-image: url('../../img/icons8-python.svg');
    }
    &--3 {
      background-image: url('../../img/icons8-java.svg');
    }
  }

  &__details {
    // padding: 3rem;

    ul {
      list-style: none;
      width: 100%;
      margin: 0 0 0 0;
      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        &:not(:last-child) {
          border-bottom: 1px solid black;
        }
      }
    }
  }
}
