.card {
  height: 50rem;
  position: relative;
  width: 30rem;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(black, 0.15);

  // &__front {
  //   background-color: white;
  //   border-radius: 3px;
  //   box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  // }

  &__picture {
    background-size: cover;

    height: 23rem;

    &--1 {
      background-image: url('../../img/icons8-javascript.svg');
    }
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        &:not(:last-child) {
          border-bottom: 1px solid black;
        }
      }
    }
  }
}
