.section__education {
  background-color: rgb(238, 238, 238);
  padding: 5rem 0;
  margin-top: 10vh;

  .container {
    display: grid;
    grid-template-columns: 200px 1fr;
    justify-items: left;
    //align-content: center;
  }
}

.modules__section-left {
}

.modules__section-right {
}

.module__list {
  list-style: none;
}

.section__employment {
  padding: 5rem 0;
  margin-top: 10vh;

  .container{
    display: grid;
    grid-template-columns: 200px 1fr;
  }
}

.section__associated-skills {
  background-color: rgb(238, 238, 238);
  padding: 5rem 0;
  margin-top: 10vh;
}

.programming-languages {
  list-style: none;
}

// .img-javascript {
//   height: 100px;
//   width: 100px;
// }

.javascript__icon {
  height: 100px;
  background-image: url('../../img/icons8-javascript.svg');
}

.img-java {
  height: 100px;
  width: 80px;
}

.img-python {
  height: 100px;
  width: 100px;
}

.section-dissertation {
  padding: 15rem 0;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 800px 1fr;
  }
}

.dissertation {
  background-image: url('../../img/diss.png');
  background-size: 100%;

  // height: 50rem;
}
